@import './variables.scss';

@mixin background($back_red) {
    background: -moz-linear-gradient($back_red);
    background: -webkit-linear-gradient($back_red);
    background: linear-gradient($back_red);
}
$back_red : 45deg, rgba(252,68,68,1) 0%, rgba(245,24,98,1) 100%;

.bar{
    @include background($back_red);
    width: 350px;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    .content_bar{
        width: 70%;
        margin: 25px auto;
        display: flex;
        flex-direction: column;
        .inicio{
            text-decoration: none;
            color: $white;
            text-align: center;
            font-size: 0.9em;
            font-weight: bold;
            text-transform: uppercase;
            height: 45px;
            border-radius: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            transition: 0.2s;
        }
        .inicio:hover{
            border: 2px solid $white;
        }
        .boton_input{
            background-color: $white;
            border-radius: 1em;
            margin: 20px 0;
            height: 45px;
            border: none;
            text-align: center;
            color: $red;
            text-transform: uppercase;
        }
        .boton_input:focus{
            border: none;
            outline: 0px;
        }
        .buscar{
            text-decoration: none;
            color: $white;
            text-align: center;
            font-weight: bold;
            text-transform: uppercase;
            margin: 0px 0 20px;
            height: 45px;
            border-radius: 1em;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid transparent;
            transition: 0.2s;
            background-color: transparent;
        }
        .buscar:hover{
            border: 2px solid $white;
        }
    }
}
